.form_head{
    @include font(20px,$black,500); 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px 0;
    h1{
        font-family:$extraFont;
    }
    p{
        font-family:$extraFont;
        letter-spacing: 1.5px;
    }
     
}
.form_details{
    font-family:$secondaryFont;
    padding:16px;
    border-radius:10px;
    background-color: $white;
    box-shadow: 5 5 5 10px rgb(83, 83, 83);

    .input-style{
        margin:10px 0px;
    }
    .form-label{
        @include font(17px,$black,600);
        margin:8px 0 0 10px;
    }
    .required{
        @include font(14px,darken($primary,10%),600);
    }

    .submit-btn{
        margin:20px;
        border:2px solid $primary;
        padding:10px 0px;
        border-radius: 10px;
        font-weight:500;
     }
     .submit-btn:hover{
        @include font(17px,$white,500);
        background-color: $primary;
     }
    
}
