.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: $secondary;
}


.link_style {
  @include font(16px,$black,600);
  font-family: $secondaryFont;
  margin:0 17px;
  display: inline-block;
  position: relative;
  color: $primary;
  padding:0;
  letter-spacing: 2px;
}

.link_style:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primary;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}
.link_style:hover{
  transform: scale(1.1);
}

.link_style:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.sidebar{
  height:100vh;
}
.sidebar_style{
  padding:10px;
}



