@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins&family=Roboto&display=swap');

//fonts
$primaryFont: 'Poppins', 'sans-serif';
$secondaryFont : 'Roboto', 'sans-serif';
$extraFont : 'Lobster Two', cursive;

//colors
$primary:#089D49;
$secondary:#F6F9FF;
$black:#1a202c;
$white:#fff;